body{
   background-color: #84E1AD;
}

header{
    /*background-image: linear-gradient(90deg #1a5c38, #41db86);*/
    background-image: linear-gradient(to top,#1a5c38, #41db86);
    text-align: center;
    width: 900px;
    padding: 20px;
    margin: auto;
    color: white;
}

nav{
    display: flex;
}

ul{
    display: flex;
}

main{
    background-color: white;
    width: 900px;
    margin: auto;
    padding: 20px;
}

p{
    text-align: center;
}
